/* reset Basico */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

    @media(min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0
        }
    }

/* linha */
.row {
    margin-left: -15px;
    margin-right: -15px;  
}

    .row::before, 
    .row::after {
        content: "";
        display: table
    }

    .row::after {
        clear: both
    }

/* colunas */

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline
}

    [class*="col-"] {
    float: left;
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .col-sep{height: 315px;}
    .col-sep-b{margin-left: 29%;}
    .col-center{left:37.5%;}
    .col-bottom{margin-bottom: 75px;}
    .col-navBar{display:block;}
    .col-sumir{display:none;}
    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-sep-b{margin-left: 35%;}
    .col-sep-mod{margin-top: -30px;margin-left: 0;}
    .col-sep{height: 290px;}
    .col-center{left:41%;}
    .col-bottom{margin-bottom: 75px;}
    .col-navBar{display:block;}
    .col-sumir{display:none;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 992px) {
    .col-sep-b{margin-left: 0%;}
    .col-sep-mod{margin-top: 30px;margin-left: 0px;}
    .col-sep{height: 125px;}
    .col-center{left:28%;}
    .col-bottom{margin-bottom: 30px;}
    .col-navBar{display:none;}
    .col-sumir{display:block;}
    .col-g-1 {width: 8.33%;}
    .col-g-2 {width: 16.66%;}
    .col-g-3 {width: 25%;}
    .col-g-4 {width: 33.33%;}
    .col-g-5 {width: 41.66%;}
    .col-g-6 {width: 50%;}
    .col-g-7 {width: 58.33%;}
    .col-g-8 {width: 66.66%;}
    .col-g-9 {width: 75%;}
    .col-g-10 {width: 83.33%;}
    .col-g-11 {width: 91.66%;}
    .col-g-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-sep-b{margin-left: 0%;}
    .col-sep-mod{margin-top: 30px;margin-left: 0px;}
    .col-sep{height: 125px;}
    .col-center{left:33%;}
    .col-navBar{display:none;}
    .col-sumir{display:block;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}







