/* Geral */

* {
    font-family: 'Raleway', sans-serif
}

body {
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #fff
}

ul {
    list-style: none
}
 
#page {
    width: 100%;
    overflow: hidden
}

.text-center {
    text-align: center
}

.blocoPadding {
    padding: 95px 0 95px 0
}

.title h2 {
    line-height: 0.75;
    font-size: 36px;
    font-weight: bold;
}

img {
    max-width: 100%;
    position: relative;
}

.text-content-p {
    font-size: 15px;
    line-height: 1.8666;
    font-weight: 400;
    color: #656566;
}

.row-margin {
    margin-top: 96px;
}

/* HOME */
#home {
    height: 800px;
    background-color: #4d1d85;
    background-image: linear-gradient(to bottom, #200e35, #4d1d85)
}

.city_image {
    background-image: url("../images/city.png");
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

/* HEADER */
.header {
    padding: 20px 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

    #header_content {
        font-weight: 600
    }

    #logo {
        padding: 25px
    }

        .logo_site {
            font-size: 24px
        }
            
            .logo_site span {
                color: #1befc5
            }

    #menu {
        padding: 29.5px
    }

        #menu nav ul {
            padding: 0;
            margin: 0
        }

        #menu nav ul li {
            list-style: none;
            display: inline
        }

        #menu nav ul li a {
            padding: 20px;
            font-size: 15px;
            letter-spacing: 1px;
            transition: .3s
        }

        #menu nav ul li a:hover {
            color: #1befc5
        }

        .active a {
            color: #1befc5
        }

    #log__reg {
        padding: 29.5px;
    }
    
        .login_reg {
            float: right;
            color: #fff;
            width: 130px;
        }

            .login_reg a {
                font-size: 15px;
                letter-spacing: 1px;
                transition: .3s
            }

            .login_reg a:hover {
                color: #1befc5
            }

/* CONTENT - HEADER */
#home_content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%
}

    .home_title h1 {
        font-size: 60px;
        font-weight: 600;
        color: #fff;
        line-height: 1.2
    }

    .home_text p {
        max-width: 750px;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 2.14;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px
    }

/* .content_form {
    width: 100%;
    margin-top: 69px;
    margin-left: 13%;
    padding: 15px
}

    .input_form {
        margin-right: 70px;
    }

    .input_form input {
        height: 50px;
        padding: 15px 10px;
        border-radius: 10px 0 0 10px;
        
    }

    .input_form .input_form_i {
        height: 50px;
        padding: 15px 50px 15px 50px;
        background: #7836c6;
        border-radius: 0 10px 10px 0;
        cursor: pointer
    }

    .input_form_button {
        font-size: 18px;
        height: 50px;
        padding: 15px 50px 15px 50px;
        border-radius: 10px;
        background: #1befc5;
        cursor: pointer;
        color: #1f1d22;
        font-weight: 600;
    } */
.col-navBar{
     margin-top: 30px;
     padding-right: 55px
}

/* SECTION INTRO */
#intro {
    width: 100%;
    background: #FFF;
    position: relative;
}

    .max-container .container {
        max-width: 1200px;
    }

    #intro h2 {
        color: #1f1d22;
    }

    /* #backgroundImageIntro {
        background-image: url(../images/dots.png);
        visibility: inherit;
        opacity: 1;
        position: absolute;
        top: 800px;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    } */

    .intro-imagem {
        margin: 0 auto;
        width: 143px;
        height: 143px;
        border-radius: 50%;
        background: #d5dfe3;
        box-shadow: 0 0 0 20px rgba(213,223,227,0.25)
    }

        .intro-imagem.active {
            background: #1befc5;
            box-shadow: 0 0 0 20px rgba(27,239,197,0.25)
        }


        .intro-icon {
            width: 56px;
            height: 56px;
            margin: 0 auto;
            padding-top: 45px;
        }
    
    .intro-text {
        padding-top: 66px;
    }

        .intro-text-title p {
            font-size: 24px;
            font-weight: 700;
            color: #1f1d22;
            line-height: 1.2;
        }

        .intro-text-content {
            margin-top: 27px;
        }

    .intro-button {
        width: 257px;
        height: 63px;
        border-radius: 12px;
        background: #715691;
        margin: 0 auto;
        margin-top: 86px;
    }

        .intro-button a {
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 63px;
        }


/* SECTION SERVICES */
#services {
    width: 100%;
    padding-top: 96px;
    padding-bottom: 127px;
    background-image: url("../images/services.jpg")
}

    #services h2 {
        color: #FFF
    }

    .service {
        width: 100%;
        background: #FFFFFF;
        border-radius: 12px;
        padding-top: 58px;
        padding-bottom: 66px;
        padding-left: 30px;
        padding-right: 30px;
        border: solid 2px transparent;
        position: relative;
        transition: .3s;
    }

        .service:hover {
            border-color: #1befc5;
        }

        .service-icone {
            width: 75px;
            height: 75px;
            margin: 0 auto
        }

            #service-one .service-icone-svg {
                background-image: url("../images/icon_4.svg")
            }

        .service-title {
            margin-top: 40px;
        }

        .service-title h3 {
            line-height: 1.2;
            font-weight: 700;
            color: #1f1d22;
            font-size: 24px;
        }

        .service-text {
            margin-top: 25px;
        }

        .service-button {
            position: absolute;
            bottom: -30px;
            width: 150px;
            height: 60px;
            background: #f4f7f8;
            border-radius: 12px;
            cursor: pointer;
            transition: .3s;
            margin-left: auto;
        }

            .service-button:hover {
                background-color: #1befc5
            }

            .service-button a {
                display: block;
                font-size: 16px;
                font-weight: 600;
                color: #656566;
                line-height: 58px;
            }

/* SECTION PRICING */
#pricing {
    width: 100%;
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 98px;
    
}

    .pricing-div {
        width: 100%;
        border-radius: 12px;
        border: solid 2px #d5dfe3;
        overflow: hidden;
    }

    .pricing-width {
        display: inline-block;
    }

    .border-right {
        border-right: solid 2px #d5dfe3;
    }

    .pricing-title {
        height: 129px;
        background: #4d1d85;
    }

        .pricing-title h3 {
            font-size: 30px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 129px
        }
    
    .pricing-title:hover h3 {
        color: #1befc5;
    }

    .pricing-content {
        padding-top: 50px;
        padding-bottom: 37px;
    }

        .pricing-title-price {
            font-size: 36px;
            font-weight: 700;
            color: #715691;
        }

            .pricing-title-price span {
                display: inline-block;
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #1f1d22;
            }

        .pricing-benefits {
            margin-top: 90px;
        }

            .pricing-benefits ul li:not(:last-child) {
                margin-bottom: 20px;
            }

            .pricing-benefits ul li span {
                font-size: 16px;
                font-weight: 500;
                color: #656566;
                margin-left: 10px;
            }

            .pricing-benefits ul li.check-ok span {
                color: #1f1d22;
                font-weight: 700;
            }

        .pricing-button {
            width: 130px;
            height: 50px;
            background: #1befc5;
            border-radius: 12px;
            margin: 75px auto 0 auto;
            transition: .3s
        }

            .pricing-button a {
                display: block;
                font-size: 16px;
                font-weight: 700;
                color: #35214d;
                line-height: 50px;
                transition: .3s
            }

            .pricing-button:hover {
                background: #4d1d85
            }

                .pricing-button:hover a {
                    color: #Fff
                }

/* SECTION CHOOSE */
#choose {
    width: 100%;
    background: #f6f8fb;
    height: 536px;
}

    .choose-img {
        position: relative;
        top: -20px;
    }

    .choose_content {
        padding-top: 94px;
        padding-bottom: 91px;
    }

        .choose_content h2 {
            color: #1f1d22;
        }

    .choose-text {
        margin-top: 51px;
    }

    .icones {
        padding: 25px;
        margin-top: 30px
    }

        .choose-icon {
            width: 65px;
            height: 65px;
            margin: 0 auto
        }

        .choose-text-icon {
            font-size: 18px;
            font-weight: 500;
            color: #1f1d22;
            margin-top: 20px;
        }

/* SEPARADOR */
.sep {
    width: 100%;
    background: #715691;
    margin-top: 21px;

}

    .sep .title h2 {
        display: inline-block;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 3.5;
    }

    .price-sep {
        font-size: 20px;
        color: #1befc5;
        font-weight: 700;
    }

        .price-sep span {
            font-size: 42px
        }

    .button-sep {
        width: 145px;
        height: 63px;
        border-radius: 10px;
        background: #1befc5;
        margin-top: 25px;
        margin-left: 50px;
        transition: .3s
    }

        .button-sep a {
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: #35214d;
            line-height: 63px;
            transition: .3s
        }

        .button-sep:hover {
            background: #35214d
        }

            .button-sep:hover a {
                color: #fff;
            }

/* NUVENS */
.cloud_1 {
    top: 147px;
    left: -138px;
    animation-name: cloud_anim;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: -39s;
    animation-iteration-count: infinite;
}
.cloud_2{
    top: 201px;
    left: -138px;
    animation-name: cloud_anim;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: -6s;
    animation-iteration-count: infinite;
}
.cloud_3 {
    top: 332px;
    left: -138px;
    animation-name: cloud_anim;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: -45s;
    animation-iteration-count: infinite;
}
.cloud_4 {
    top: 353px;
    left: -138px;
    animation-name: cloud_anim;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: -15s;
    animation-iteration-count: infinite;
}
.cloud{
    position: absolute;
    width: 138px;
    height: 57px;
    z-index: 4;
}
@keyframes cloud_anim
{
  0%
  {
    left: -138px;
  }
  100%
  {
    left: calc(100vw + 138px);
  }
}


/* FOOTER */

